.add-pairing-container, .selection-info {
  display: none;
  padding: 20px;
}

.card {
  background-color: hsla(360, 0%, 100%, 0.7);
}

.btn {
  background-color: #112d37;
}

.pair-card, .pair-item {
background-color: hsla(360, 0%, 100%, 0);
border: 0px;
padding: 5px;
}


section {
  padding: 10% 25%;
}

#container {
background-image: url("Wine_Food_Pairing_FullBleed.jpg");
height: 100vh;
height: 100vh;
}

#new-pair-btn {
  background-color: #F7B08D;
}

a:link, a:visited {
  background-color: #112d37;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

a:hover, a:active {
  background-color: #F7B08D;
}

h2, h3, h5, a:link #pair-type-select, #new-pair-btn {
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar {
  background-color: #112d37;
  padding: 20px;
}

#wine-pairings, #food-pairings {
  display: none;
  padding: 10px;
}
